@model DropdownListBinding.Models.ViewModel.ServantsViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Servant", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        <label>Servant Id:</label>
        @Html.TextBoxFor(s=>s.Servants.Id)
    </div>
    <div>
        <label>Servant Name :</label>
        @Html.TextBoxFor(s => s.Servants.ServantName)
    </div>
    <br />
    <div>
        <label>Skill :</label>
        @Html.DropDownListFor(model => model.Servants.SkillId, Model.SkillsList, "Select Skill")

        <br /><br />
        <input type="submit" value="Create" />
    </div>
}
